.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  min-width: 100px;
  max-height: 400px;
  background-color: white;
  z-index: 1;
  transition: transform 150ms ease-in;
  box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
}

.product:hover{
  transform: scale(1.05);
}

.product__rating{
  display: flex;
}
.product > img{
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__button{
  background-color: #f0c14b;
  /* border: 1px solid; */
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.product__button:hover{
   background-color: #fdb707;
   cursor: pointer;
}

.product__price{
  margin-top: 5px;
}
.product__info{
  height: 100px;
  margin-bottom:15px ;
}
